.App {
  text-align: center;
  color: white;
  padding-top:20px;
  min-height:100vh;
  background-color:#7171da;
}

#header h1{
  color:#ffb366;
  text-decoration: underline;
  display: inline-block;
  margin: 0 20px;
}


#header img{
  width: 60px;
}

.main-container{
  width: 70%;
  margin-left: 15%;
}

/* table styles */

.league-table{
  width: 90%;
  margin: 20px 5%;
}

.table-content{
  width: 100%;
  height: 45vh;
  position: relative;
}


/* matchflow styles */
.matchflow-container{
  overflow-y: scroll;
  height: 25vh;

}

.recent-result{
  font-size: 22px;
}

.recent-date{
  background-color:#4949d0;
}

.results-date{
  background-color:#8585e0;
}

/* timeline styles */
.progress-container{
  height:20px;
  background-color:#b3b3ff;
}

.progress-b{
  height:100%;
  background-color: #ffb366;
}


@media only screen and (max-width: 600px) {

  #header h1{
    font-size: 24px;
  }

  #header img{
    width: 40px;
  }
  
  .main-container{
    width: 90%;
    margin-left: 5%;
  }

  .table-content{
    height: 70vh;
    font-size: 14px;
  }

  .matchflow-container{
    height: 10vh;
  }
}